<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="zabbixip" value="Zabbix服务器IP"/>
    <add key="zabbixurl" value="Zabbix API URL(如:http://your-zabbix/zabbix/api_jsonrpc.php)"/>
    <add key="zabbixuesr" value="Zabbix用户名"/>
    <add key="zabbixpass" value="Zabbix密码"/>
    <add key="touser" value="收件人邮箱"/>
    <add key="ccuser" value="抄送人邮箱"/>
    <add key="mail" value="发件人邮箱(如:your@qq.com)"/>
    <add key="pass" value="SMTP授权码"/>
  </appSettings>
</configuration>